<div class="container-stepper">
  <app-navigation-stepper 
    [steps]="steps" 
    [(currentStep)]="currentStep" 
    (stepChanged)="onStepChanged($event)" 
    (finished)="onFinished()">
  </app-navigation-stepper>
  <div class="steppers">

  </div>
  <div *ngIf="currentStep === 0">
    <app-calendar-options [doctor]="selectedDoctor" (selectionMade)="handleSelectionMade($event)"></app-calendar-options>
  </div>
  <div *ngIf="currentStep === 1">
    <app-appointment-form [appointmentData]="selectedPatient"></app-appointment-form>
  </div>
  

  <div class="buttons">
    <app-button 
      (buttonClick)="handlePrevClick()" 
      [value]="'Atrás'" 
      [isDisabled]="currentStep === 0">
    </app-button>
    <app-button 
      (buttonClick)="handleNextClick()" 
      [value]="value" 
      [isDisabled]="!isCurrentStepValid()">
    </app-button>
  </div>
</div>
