<div class="container-stepper">
  <app-navigation-stepper 
    [steps]="steps" 
    [(currentStep)]="currentStep"
    (finished)="onFinished()">
  </app-navigation-stepper>
  <div class="steppers">

  </div>
  <ng-container *ngIf="currentStep === 0">
    <app-calendar-options [doctor]="selectedDoctor"></app-calendar-options>
  </ng-container>
  <ng-container *ngIf="currentStep === 1">
    <app-appointment-form [appointmentData]="selectedPatient" (formDataReady)="handleFormDataReady($event)"></app-appointment-form>
  </ng-container>
  <ng-container *ngIf="currentStep === 2">
    <app-button-price></app-button-price>
  </ng-container>
  <ng-container *ngIf="currentStep === 3">
    <app-visualizar-cita></app-visualizar-cita>
  </ng-container>

  <div class="buttons">
    <app-button 
      (buttonClick)="handlePrevClick()" 
      [value]="'Atrás'" 
      [isDisabled]="currentStep === 0">
    </app-button>
    <app-button 
      (buttonClick)="handleNextClick()" 
      [value]="value">
    </app-button>
  </div>
</div>
