.header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.header h1 {
  color: #1F3FAE;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.form-columns {
  display: flex;
  justify-content: space-evenly;
}

.form-column {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 2px 2px 2px 2px;
}


.form-group-remember {
  margin-bottom: 20px;
  display: flex;

}

.checkbox {
  margin-right: 5px;
  margin: 5px 5px;
  
}
  .remember{
    margin: -3px -28px;
  

}

.form-group label {
  display: block;
  color: #1F3FAE;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 8px;
  
}

.form-control, .form-input {
  padding: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  border: 0;
  background: transparent;
  outline: 0;
  width: 100%;
}

.form-input::placeholder {
  color: transparent;
}





