body {
  
    line-height: 1.5;
    color: #5A5D5F;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.text-container {
    position: relative;
    display: inline-block;
}

.label-placeholder {
    color: #aaa;
    font-size: 1rem;
}

.underline {
    width: 10rem;
    height: 0.063rem;
    background-color: #aaa;
    margin-top: 0.313rem;
}


  
@media only screen and (min-width: 352px) and (max-width: 480px) {

  }
  
  @media only screen and (min-width: 481px) and (max-width: 768px) {
  
  }
  
  @media only screen and (min-width: 769px) and (max-width: 920px) {
   
  }
  
  @media only screen and (min-width: 921px) and (max-width: 1279px) {
   
  }
  
  @media only screen and (min-width: 1280px) {
  
  }
  
