body {
  
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.text-container {
    position: relative;
    display: inline-block;
}

.text {
    color: #5A5D5F;
    font-size: 1rem;
}

.underline {
    width: 10rem;
    height: 0.063rem;
    background-color: #aaa;
    margin-top: 0.313rem;
}
