body {
  
    line-height: 1.5;
    color: #c9c6c6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.text-container {
    position: relative;
    display: inline-block;
}

.label-placeholder {
    color:#bababa;;
    font-size: 1rem;
}

  
.white-title{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
  }
.underline {
    width: 10rem;
    height: 0.063rem;
    background-color: #aaa;
    margin-top: 0.313rem;
}
.gris-text {
    color: #5c5c5c;
    font-size: 1rem;
}


@media only screen and (min-width: 352px) and (max-width: 480px) {
    .gris-text {
        color: #5c5c5c;
        font-size: 0.8rem;
    }
    
  }
  
  @media only screen and (min-width: 481px) and (max-width: 768px) {
  
  }
  
  @media only screen and (min-width: 769px) and (max-width: 920px) {
   
  }
  
  @media only screen and (min-width: 921px) and (max-width: 1279px) {
   
  }
  
  @media only screen and (min-width: 1280px) {
  
  }
  
