.badge-container {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.badge {
  display: inline-block;
  height: 2px;
  width: 2px;
  padding: 0px 4px;
  margin: 0 0 0 -8px;
  border-radius: 20%;
  background-color: #3C7FF5;
  color: #fff;
  font-size: 2px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}