.loading-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.685); /* Blanco claro */
    z-index: 9999;
  }
  
  
.heartbeat-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.625rem 0;
}
.heartbeat-2 svg {
    stroke: #203B8F;
    height: 4.75rem;
    stroke-width: 0.130rem;
    fill: none;
    stroke-dasharray: 200, 300;
    stroke-dashoffset: 0;
    animation: heartbeat-2 5s infinite linear;
}
@keyframes heartbeat-2 {
    to {
        stroke-dashoffset: 980;
    }
}