.heartbeat-1 {
    display: flex;
    justify-content: center;
    align-items: center;    
}
.heartbeat-1 svg {
    height: 3.75rem;
    fill: none;
    stroke: #203B8F;
    stroke-width: 20; 
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: heartbeat-1 3s ease infinite;    
}
@keyframes heartbeat-1 {
    to {
        stroke-dashoffset: 0;
    }
}

.heartbeat-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.625rem 0;
}
.heartbeat-2 svg {
    stroke: #203B8F;
    height: 3.75rem;
    stroke-width: 0.125rem;
    fill: none;
    stroke-dasharray: 200, 300;
    stroke-dashoffset: 0;
    animation: heartbeat-2 10s infinite linear;
}
@keyframes heartbeat-2 {
    to {
        stroke-dashoffset: 1080;
    }
}