body {
  background: #eaeef6;
  font-family: 'Open Sans', sans-serif;
}

.sidebar {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background-color: #F5F6FA;
  border-radius: 0.625rem;
  padding: 1rem 0;
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.03);
  height: calc(100vh - 4rem);
  width: 15.625rem;
  transition: width 0.3s;
}

.sidebar.closed {
  width: 4.375rem;
}

.sidebar-header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  position: relative;
}

.menu-toggle {
  width: 9.375rem;
  height: 5rem;
  cursor: pointer;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu-item {
  position: relative;
}

.navbar__link {
  display: flex;
  align-items: center;
  height: calc(1rem * 3.5);
  color: #AAB2C8;
  padding: 0 1rem;
  margin: 1.625rem 0.125rem 0.125rem 0.125rem;
  text-decoration: none;
  transition: 250ms ease all;
  position: relative;
}

.navbar__link:hover,
.sidebar-menu-item.active .navbar__link {
  color: #fff;
  background-color: #1F64FF;
  border-radius: 0.625rem;
}

.navbar__link span {
  margin-left: 1rem;
  transition: 250ms ease all;
  opacity: 1;
  cursor: pointer;
}

.sidebar.closed .navbar__link span {
  display: none;
}

.sidebar-menu-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.menu-icon {
  width: 1.5rem;
  height: 1.5rem;
  transition: fill 0.3s;
}

.menu-icon.expanded-icon {
  fill: #1F64FF; 
}

.highlight-circle {
  display: none;
}

.sidebar-menu-item.active .highlight-circle {
  display: inline-block;
  position: absolute;
  right: 1rem;
  width: calc(1rem * 1.5);
  height: calc(1rem * 1.5);
  background-color: #1F64FF;
  border-radius: 5%;
  transform: translateY(-50%);
  top: 50%;
}

.extra-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding: 0 1rem;
 
}

.large-image {
  width: 8.125rem; 
  height: auto;
  margin-bottom: 0.5rem;
}

.register-button {
  width: 100%; 
  margin-left: 9.688rem;
}

.tooltip {
  position: absolute;
  left: 3.313rem;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  background-color: #1F64FF;
  color: #fff;
  padding: 0.5rem;
  border-top-right-radius: 0.625rem;
  border-Bottom-right-radius: 0.625rem;
  white-space: nowrap;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s;
  height: 2.5rem;
}

.sidebar.closed .sidebar-menu-item:hover .tooltip {
  opacity: 1;
}