<div class="container-form-login">
  <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
    <div class="header">
      <app-title-terciario for="text" [titleText]="'Inicio Sesión'"></app-title-terciario>
    </div>

    <div class="form-group">
      <app-label for="documento" content="Número de Documento o Correo Electrónico:"></app-label>
      <app-input 
        type="text" 
        id="documento" 
        class="form-input" 
        name="documento" 
        formControlName="documento" 
        placeholder="">
      </app-input>
      <div *ngIf="loginForm.get('documento')?.invalid && (loginForm.get('documento')?.dirty || loginForm.get('documento')?.touched)"
           class="error-bubble">
        <small class="error">
          <ng-container *ngIf="loginForm.get('documento')?.errors?.['invalidDocumento']">
            El número de documento debe ser numérico o un correo electrónico válido.
          </ng-container>
        </small>
      </div>
    </div>

    <div class="form-group">
      <app-label for="password" content="Contraseña:"></app-label>
      <app-input 
        type="password" 
        id="password" 
        class="form-input" 
        name="password" 
        formControlName="password" 
        placeholder="">
      </app-input>
      <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
           class="error-bubble1">
        <small class="error">
          La contraseña es obligatoria y debe tener al menos 8 caracteres, una mayúscula y un carácter especial.
        </small>
      </div>
    </div>

    <div class="form-group-remember">
      <app-input 
        type="checkbox" 
        class="checkbox" 
        id="remember" 
        name="remember" 
        formControlName="remember">
      </app-input>
      <app-text class="remember" for="remember" content="Recordar mis datos"></app-text>
    </div>

    <app-button [isDisabled]="loginForm.invalid || isSubmitting" value="Iniciar Sesión"></app-button>
    
    <div *ngIf="loginError" class="error-bubblee">
      <small class="error">{{ loginError }}</small>
    </div>
  </form>
</div>
