.header {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  padding: 3px;
}

.header h1 {
  color: #1F3FAE;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.form-group {
  padding: 0rem 0rem 0rem 6rem;
  
}
.form-group-remember{
  padding: 0rem 0rem 0rem 6rem;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
 
}
.title-record{
  margin: 0rem 0rem 0rem -2.188rem;
}

.checkbox{
    margin: 0.125rem 0.5rem 0.125rem 0.125rem;
}
.form-group label {
  display: block;
  color: #1F3FAE;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form-control {
  padding: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.75rem;
}


.form-input{
    padding: 0.5rem 0.125rem 0.125rem 0.125rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.75rem;
}






