<div class="HistorialCita">
  <div class="container"> 
    <table>
      <thead>
        <tr>
          <th *ngFor="let header of headers">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows">
          <td *ngFor="let key of headers" [ngClass]="{'actions-cell': key === 'Acciones'}">
            <ng-container *ngIf="key === 'Acciones'; else normalCell" class="actions">
              <app-button (click)="onActionClick(row[key])" [value]="value"></app-button>
            </ng-container>
            <ng-template #normalCell>{{ row[key] }}</ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
