.title-secundary {
    font-size:1.75rem;
    color: #203B8F;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}



@media only screen and (min-width: 352px) and (max-width: 480px) {
    .title-secundary {
        font-size:1rem;
     
    }
  }
  
  
  
  @media only screen and (min-width: 481px) and (max-width: 768px) {
   
  }
  
  @media only screen and (min-width: 769px) and (max-width: 920px) {
  
  }
  
  
  @media only screen and (min-width: 921px) and (max-width: 1279px) {
  
 
  }
  