/* Contenedor del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  position: fixed;
  top: 50%;
  border-radius:1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  width: 60%;
  max-width: 900px;
  max-height: 42rem;
}

/* Animación para el fadeIn */
.close-button {
  position: relative;
  width: 2em;
  height: 2em;
  border: none;
  left: 53rem;
  top: 1rem;
  background: rgba(180, 83, 107, 0.11);
  border-radius: 20px;
  transition: background 0.5s;
}



.X {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1.5px;
  background-color: rgb(255, 255, 255);
  transform: translateX(-50%) rotate(45deg);
}

.Y {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1.5px;
  background-color: #fff;
  transform: translateX(-50%) rotate(-45deg);
}

.close {
  position: absolute;
  display: flex;
  padding: 0.8rem 1.5rem;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  top: -70%;
  left: 50%;
  width: 3em;
  height: 1.7em;
  font-size: 12px;
  background-color:  rgba(54, 53, 53, 0.367);
  color: rgb(187, 229, 236);
  border: none;
  border-radius: 3px;
  pointer-events: none;
  opacity: 0;
}

.close-button:hover {
  background-color: rgba(184, 191, 255, 0.447);
}

.close-button:active {
  background-color: rgb(130, 0, 0);
}

@keyframes close {
  100% {
    opacity: 1;
  }
}


/* Contenedor del título */
.title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}
