<div *ngIf="isVisible" class="modal-overlay" (click)="closeModal()"></div>
<div *ngIf="isVisible" class="modal-content">
    <section>
      <button class="close-button" (click)="closeModal()">
        <span class="X"></span>
        <span class="Y"></span>
        <div class="close">Close</div>
      </button>
    </section>
    <div class="title-container">
      <app-title-terciario [titleText]="title"></app-title-terciario>
    </div>
    <div class="container">
      <ng-content></ng-content>
    </div>
</div>