<div class="HistorialCita">
    <div class="container">
      <div>
        <app-title-principal class="titulo"  [titleText]="titleText" [titleClass]="titleClass"></app-title-principal>
      </div>
    
      
      <app-empty-state imageSrc="../../../../../assets/images/Group 35024.png" message="Aun no tienes citas" *ngIf="citasFiltradas.length === 0"></app-empty-state>
      
      <table *ngIf="citasFiltradas.length > 0">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>hora</th>
            <th>Fecha inicio</th> 
            <th>Fecha Fin</th> 
            <th>Acciones</th>
          </tr>
        </thead>
      
        <tbody>
          <tr *ngFor="let cita of citasFiltradas">
            <td>
              <img [src]="cita.imagenMedico" alt="{{cita.nameMedico}}" class="imagen-medico">
              {{cita.nameMedico}}
            </td>
            <td>{{cita.especialidad}}</td>
            <td>{{cita.fechaCita}}</td>
            
            <td>
           
            </td>
            <td>
            <img class="img-icon" src="../../../../../assets/images/Edit.png">
            <img class="img-icon" src="../../../../../assets/images/Show.png">
            <img class="img-icon" src="../../../../../assets/images/Delete.png">
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-footer ></app-footer>
  <app-modal-appointment-registration *ngIf="showModal" [cita]="selectedCita" (closeModalEvent)="closeModal()"></app-modal-appointment-registration>
  