button {
  text-align: center;
  --color: #1F3FAE;
  display: inline-block;
  width: 150%;
  height: 2.5rem;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  font-size: 0.75rem;
  z-index: 1;
  color: var(--color);
  border: 0.125rem solid var(--color);
  border-radius: 0.625rem;
  position: relative;
  transition: all 0.3s ease;
  background-color: #fff;
}

button:hover {
  background-color: var(--color);
  color: #fff;
}
