.container-card{
    width: 252px;
    height: 375px;
    overflow: hidden;
    border: 1px solid #918C8C;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 0% 2% 4%;
    padding: 0.5rem 2rem
}

