.title-tres {
    color: #203B8F;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}


@media only screen and (min-width: 352px) and (max-width: 480px) {
    
  }
  
@media only screen and (min-width: 481px) and (max-width: 768px) {
   
}  
  
  @media only screen and (min-width: 769px) and (max-width: 920px) {
  
  }
  
  
  @media only screen and (min-width: 921px) and (max-width: 1279px) {
  
 
  }
  