.container-card{
    background-color: #fff;
    border: 1px solid #203B8F;
    border-radius: 1rem;
    width: 11rem;
    height: 11rem;
    padding: 1rem;
    margin: 1rem;
}
.container{
    margin: 4rem 0rem 0rem 13rem;
    width: 2rem;
}


@media only screen and (min-width: 352px) and (max-width: 480px) {
    .container[_ngcontent-ng-c1774788269] {
        margin: 4rem 0rem 0rem 10rem;
        width: 2rem;
    }
}


