.slider-container {
    position: relative;
    max-width: 68.75rem;
    height: 32.5rem;
    margin: auto;
    overflow: hidden;
    border-radius: 1rem ;
    position: relative;
    left: 2rem;
    top: 8rem;
  }
  
  .slider {
    display: flex;
    transition: transform 1s ease-in-out;
  
  }
  .message {
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.625rem;
    border-radius: 0.313rem;
  }
  
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  img {
    width: 101%;
    border-radius: 1rem ;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(211, 211, 211, 0.5);
    color: white;
    border: none;
    padding: 0.625rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  button:nth-of-type(1) {
    left: 0;
  }
  
  button:nth-of-type(2) {
    right: 0;
  }
  