/* General Styles */
.slider-container {
  position: relative;
  max-width: 68.75rem; /* 1100px */
  height: 32.5rem; /* 520px */
  margin: auto;
  overflow: hidden;
  border-radius: 1rem;
  top: 8rem;
  left: 2rem;
}

.slider {
  display: flex;
  transition: transform 1s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
}

img {
  width: 100%;
  border-radius: 1rem;
  display: block;
}

.message {
  position: absolute;
  bottom: 1.25rem; /* 20px */
  left: 1.25rem; /* 20px */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.625rem; /* 10px */
  border-radius: 0.313rem; /* 5px */
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(211, 211, 211, 0.5);
  color: white;
  border: none;
  padding: 0.625rem; /* 10px */
  cursor: pointer;
  font-size: 1.25rem; /* 20px */
  border-radius: 0.313rem; /* 5px */
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

button:nth-of-type(1) {
  left: 0.625rem; /* 10px */
}

button:nth-of-type(2) {
  right: 0.625rem; /* 10px */
}

/* Responsive Styles */
@media only screen and (max-width: 480px) {
  .slider-container {
      max-width: 100%;
      height: 18.75rem; /* 300px */
      top: 4rem;
      left: 0;
  }

  button {
      padding: 0.5rem; /* 8px */
      font-size: 1rem; /* 16px */
  }

  .message {
      padding: 0.5rem; /* 8px */
      font-size: 0.875rem; /* 14px */
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .slider-container {
      max-width: 100%;
      height: 25rem; /* 400px */
  }

  button {
      padding: 0.625rem; /* 10px */
      font-size: 1.25rem; /* 20px */
  }

  .message {
      padding: 0.625rem; /* 10px */
      font-size: 1rem; /* 16px */
  }
}

@media only screen and (min-width: 769px) and (max-width: 920px) {
  .slider-container {
      max-width: 90%;
      height: 28.75rem; /* 460px */
  }

  button {
      padding: 0.625rem; /* 10px */
      font-size: 1.25rem; /* 20px */
  }

  .message {
      padding: 0.625rem; /* 10px */
      font-size: 1.125rem; /* 18px */
  }
}

@media only screen and (min-width: 921px) and (max-width: 1279px) {
  .slider-container {
      max-width: 95%;
      height: 31.25rem; /* 500px */
  }

  button {
      padding: 0.625rem; /* 10px */
      font-size: 1.25rem; /* 20px */
  }

  .message {
      padding: 0.625rem; /* 10px */
      font-size: 1.125rem; /* 18px */
  }
}

@media only screen and (min-width: 1280px) {
  .slider-container {
      max-width: 68.75rem; /* 1100px */
      height: 32.5rem; /* 520px */
  }

  button {
      padding: 0.625rem; /* 10px */
      font-size: 1.25rem; /* 20px */
  }

  .message {
      padding: 0.625rem; /* 10px */
      font-size: 1.125rem; /* 18px */
  }
}
