.custom-textarea {
  width: 90%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #D1D1D1;
  resize: none;
  font-size: 12px;
  font-family: Arial, sans-serif;
  outline: none;
}
  
  .custom-textarea:focus {
    border-color: #203B8F;
  }
  
  .small {
    height: 2em;
  }
  
  .large {
    height: 5em; /* Puedes ajustar según sea necesario */
  }
  
  @media only screen and (min-width: 352px) and (max-width: 480px) {
    textarea{
      height: 1.5em;
      padding: 4px;
    }

  }