textarea {
  width: 15em; /* Ajusta el ancho según tus necesidades */
  height: 2em; /* Ajusta la altura según tus necesidades */
  padding: 10px; /* Ajusta el padding según tus necesidades */
  border: none; /* Quita los bordes */
  border-bottom: 2px solid #D1D1D1; /* Solo el borde inferior */
  border-radius: 0; /* Quita el borde redondeado */
  box-shadow: none; /* Quita la sombra */
  font-size: 12px; /* Tamaño de la fuente */
  font-family: Arial, sans-serif; /* Familia de la fuente */
  resize: none; /* Deshabilita el redimensionamiento */
  color: grey;
  outline: none; /* Quita el borde azul al hacer click */
}

  .custom-textarea:focus {
    outline: none; 
    border-color: #203B8F; 
  }
  
  @media only screen and (min-width: 352px) and (max-width: 480px) {
    textarea{
      height: 1.5em;
      padding: 4px;
    }

  }