

.list {
  list-style-type: none;
  padding-left: 0;
}

.list-item {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 0.75rem;
  color: #ffffff;
  margin-bottom: 0.625rem;
}

.list-item img {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 0.625rem;
}
