
.list li {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    align-items: center;
  
  }
  
  .list li img {
    width: 30px;
    height: 30px;
    padding-right: 10px;
    
  }