.content-service{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-service div{
    width: 50%;
    margin: 1% auto;
}

.text{
    font-size: 0.75rem;
}

.button-service{
    margin: 0rem 0rem 0rem 4rem;
}