<div class="modal-overlay" (click)="handleClose()"></div>
<div class="modal-content">
  <div class="perfilAdmi">
    <section>
      <button class="close-button" (click)="handleClose()">
        <span class="X"></span>
        <span class="Y"></span>
        <div class="close">Cerrar</div>
      </button>
    </section>

    <section class="section1">
        <div class="text-container">
        
        
        </div>
        <div class="image-container">
            <app-image class="image-background" src="../../../../../assets/images/Group.png"></app-image>
         
          </div>
          
        </section>
  
  </div>
</div>
