<div class="appointment-card">
  <div class="doctor-section">
    <div class="doctor-photo">
      <app-title-terciario [titleText]="'Médico'"></app-title-terciario>
      <app-image-card-recommended-doctors [img]="doctor.imgUrl"></app-image-card-recommended-doctors>
    </div>
    <div class="doctor-info">
      <h4>{{ doctor.nombre}} {{doctor.apellido}}</h4>
      <p>{{ doctor.especialidad }}</p>
    </div>
  </div>
  
  <div class="appointment-details">
    <div class="detail-row">
      <div>
        <app-label [content]="'Paciente'"></app-label>
        <app-text [content]="patient.Nombre + patient.Apellido"></app-text>
      </div>
      <div>
        <app-label [content]="'Documento'"></app-label>
        <app-text [content]="patient.Documento"></app-text>
      </div>
    </div>
    
    <div class="detail-row">
      <div>
        <app-label [content]="'Fecha y Hora'"></app-label>
        <app-text [content]="date + ' ' + time"></app-text>
      </div>
      <div>
        <app-label [content]="'Valor Cita'"></app-label>
        <app-text [content]="doctor.valorCita + ''"></app-text>
      </div>
    </div>
    
    <div class="detail-row">
      <div class="label">Método De Pago:</div>
      <div class="value">{{ paymentMethod }}</div>
    </div>
    
    <div class="detail-row">
      <div class="label">Estado de Pago:</div>
      <div class="value">{{ paymentStatus }}</div>
    </div>
    
    <div class="detail-row" *ngIf="motivo">
      <div class="label">Motivo:</div>
      <div class="value">{{ motivo }}</div>
    </div>
  </div>
</div>
