
<div class="appointment-card" *ngIf="!isLoading">
  <!-- Información del Médico -->
  <div class="doctor-section">
    <div class="doctor-photo">
      <app-title-terciario [titleText]="'Médico'"></app-title-terciario>
      <app-image-card-recommended-doctors [img]="doctor.imgUrl"></app-image-card-recommended-doctors>
    </div>
    <div class="doctor-info">
      <h4>{{ doctor.nombre }} {{ doctor.apellido }}</h4>
      <p>{{ doctor.especialidad }}</p>
    </div>
  </div>

  <!-- Detalles de la Cita -->
  <div class="appointment-details">
    <!-- Paciente y Documento -->
    <div class="detail-row">
      <div>
        <app-label [content]="'Paciente'"></app-label>
        <app-text [content]="patient.Nombre + ' ' + patient.Apellido"></app-text>
      </div>
      <div>
        <app-label [content]="'Documento'"></app-label>
        <app-text [content]="patient.Documento"></app-text>
      </div>
    </div>

    <!-- Fecha, Hora y Método de Pago -->
    <div class="detail-row">
      <div>
        <app-label [content]="'Fecha y Hora'"></app-label>
        <app-text [content]="selectedDate + ' ' + selectedTime"></app-text>
      </div>
      <div>
        <app-label [content]="'Método de Pago'"></app-label>
        <app-text [content]="paymentMethod"></app-text>
      </div>
    </div>
  </div>
</div>
