<div class="container-content">
  <app-label 
    [content]="doctor.nombre"
    for="doctor-name" 
    typeContent="bold">
  </app-label>
  <div class="input-rating">
    <div class="coment-rating">
      <app-text [content]="'Tarjeta Profesional' + doctor.tarjetaProf"></app-text>
    </div>
    <app-text class="costo-cita" [content]="'Costo de la cita: $' + doctor.valorCita"></app-text> 
    <app-button class="button-cita" value="ver mas" (buttonClick)="handleClick()"></app-button>
  </div>
  <app-modal-perfil-doctor *ngIf="showModal" [doctor]="doctor" (closeModal)="handleClick()"></app-modal-perfil-doctor>
</div>
