<section class="section2">
    <div class="contenedor1">
      <div class="subcontenedor">
        <div class="contenedorImg">
          <app-image class="image-compu"  imageUrl="../../../../../assets/images/agendacc.png"></app-image>
        </div>
  
        <div class="info-cita">
         
          <app-title-principal [titleText]="titleText" [titleClass]="titleClass"></app-title-principal>
          <h5 class="subt1">Busca un medico</h5>
          <app-text-field class="text-comment" content="Filtrá por especialidad. Ordená por fecha o recomendaciones. Te puedes atender presencialmente."></app-text-field>
          <h5 class="subt2">Reserva un turno</h5>
          <app-text-field class="text-comment" content="Elige el día y horario que más te convenga, y agenda un turno con el médico."></app-text-field>
          <h5 class="subt3">Paga tu cita y comenta</h5>
          <app-text-field class="text-comment" content="Paga tu cita virtual a través de una pasarela de pago, asiste a tu cita y comenta para que otras personas puedan elegir."></app-text-field>
        </div>
      </div>
      <app-image  imageUrl="../../../../../assets/images/compu.png"></app-image>
    </div>
  </section>