<div class="body">
    <div class="container-login">
      <div class="login">
        <div class="container">
          <form class="form-container" [formGroup]="recoverpasswordForm" (ngSubmit)="submitRecoverPasswordForm()">
            <div class="container-form-login">
              <div class="header">
                <img src="../../../../assets/images/logo-comprimido.png" alt="Logo" class="logo">
                <app-title-terciario [titleText]="'Nueva Contraseña'"></app-title-terciario>
                <app-text content="Ingrese su nueva contraseña para continúar."></app-text>
              </div>
              
              <div class="form-group">
                <app-label for="newPassword" content="Nueva Contraseña:"></app-label>
                <app-input 
                  type="password" 
                  id="newPassword" 
                  class="form-input" 
                  name="newPassword" 
                  formControlName="newPassword" 
                  placeholder="Nueva Contraseña">
                </app-input>
                <div *ngIf="recoverpasswordForm.get('newPassword')?.invalid && (recoverpasswordForm.get('newPassword')?.dirty || recoverpasswordForm.get('newPassword')?.touched)"
                     class="error-bubble">
                  <small class="error">
                    <ng-container *ngIf="recoverpasswordForm.get('newPassword')?.errors?.['minlength']">
                      La contraseña debe tener al menos 8 caracteres.
                    </ng-container>
                    <ng-container *ngIf="recoverpasswordForm.get('newPassword')?.errors?.['pattern']">
                      La contraseña debe contener una mayúscula, una minúscula, un número y un símbolo.
                    </ng-container>
                  </small>
                </div>
              </div>
              <div class="form-group">
                <app-label for="confirmPassword" content="Confirmar Contraseña:"></app-label>
                <app-input 
                  type="password" 
                  id="confirmPassword" 
                  class="form-input" 
                  name="confirmPassword" 
                  formControlName="confirmPassword" 
                  placeholder="Confirmar Contraseña">
                </app-input>
                <div *ngIf="recoverpasswordForm.get('confirmPassword')?.invalid && (recoverpasswordForm.get('confirmPassword')?.dirty || recoverpasswordForm.get('confirmPassword')?.touched)"
                     class="error-bubble">
                  <small class="error">
                    <ng-container *ngIf="recoverpasswordForm.get('confirmPassword')?.errors?.['mustMatch']">
                      Las contraseñas no coinciden.
                    </ng-container>
                  </small>
                </div>
              </div>
  
              <app-button value="Restablecer"></app-button>
            </div>
          </form>
        </div>
      </div>
      <a (click)="logout()" class="logout-icon">
        <app-icon iconUrl="../../../../../assets/icons/door.svg" alt="Logout Icon"></app-icon>
        <app-link [links]="[{ url: '', label: 'Salir' }]"></app-link>
      </a>
    </div>
  </div>
  