<!-- appointment-modal.component.html -->
<div class="modal" *ngIf="showModal">
  <div class="modal-display-appointment">
    <button class="close-buttonX" (click)="closeModal()">X</button>
    <div class="title-container">
      <app-title-principal titleText="Datos de la Cita"></app-title-principal>
    </div>
    <div class="container">
      <div class="subContenedor">
        <app-label content="Doctor:"></app-label>
        <div class="infoDoctor">  
          <div class="ingrese">
            <app-label content="Nombre:"></app-label>
            <app-input [value]="doctorName"></app-input>
          </div>
          <div class="ingrese">
            <app-label content="Especialidad:"></app-label>
            <app-input [value]="doctorSpecialty"></app-input>
          </div>
        </div>
        <app-label class="paciente" content="Paciente:"></app-label>
        <div class="infoPaciente">
          <div class="ingrese">
            <app-label content="Nombre:"></app-label>
            <app-input [value]="patientName"></app-input>
          </div>
        </div>
        <div class="infodatos">
          <div class="ingreseDocumentos">
            <app-label content="Documentos insertados:"></app-label>
            <input id="fileInput" class="file-input" type="file" (change)="onFileSelected($event)" multiple>
            <button type="button" class="custom-file-button" (click)="triggerFileInput()">Seleccionar documentos</button>
            <span class="file-name">{{ fileName }}</span>
          </div>
        </div>  
      </div>
      <div class="buttom-space">
        <app-button class="cancelarCita" value="Cancelar Cita" (click)="closeModal()"></app-button>
      
      </div>
    </div>
  </div>
</div>







