.container-select {
  position: relative;
}

label {
  font-weight: 500;
  font-size: 1rem;
  color: #203B8F;
  transition: 0.2s;
 
}

.document-type {
  font-family: 'Poppins', sans-serif;
  width: 70%;
  border: 0;
  border-bottom: 0.063rem solid #9b9b9b;
  font-size: 0.75rem;
  color: #9b9b9b;
  background: transparent;
}

.document-type::placeholder {
  color: transparent;
  width: 70%;
}

.document-type:hover,
.document-type:focus {
  outline: none;
  border-color: #85898B;
}

button, select {
  border: 0;
  -webkit-border: none;
  -moz-border: none;
  outline: none;
  width: 100%;
  margin: 1.438rem 0 0 0;
}

option {
  cursor: pointer;
  font-size:  0.75rem;
  line-height: 1.5rem;
  width: 100%;
}

option:hover {
  background-color: #f0f0f0;
}
