.container-select {
  position: relative;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 8px;
  color: #203B8F;
}

.document-type {
  font-family: 'Poppins', sans-serif;
  width: 70%;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  font-size: 16px;
  color: #9b9b9b;
  background: transparent;
}

.document-type::placeholder {
  color: transparent;
  width: 70%;
}

.document-type:hover,
.document-type:focus {
  outline: none;
  border-color: #85898B;
}

button, select {
  border: 0;
  -webkit-border: none;
  -moz-border: none;
  outline: none;
  width: 100%;
  margin: 1.438rem 0 0 0;
}

option {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  width: 100%; 
}

option:hover {
  background-color: #f0f0f0;
}
