.container-card{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.img{
    width: 100%;
}




@media only screen and (min-width: 352px) and (max-width: 480px) {
    .container-card{
        padding: 0;
        display: unset;
        position: relative;
        left: 0rem;
    }
    .img{
        width: 50%;
    }
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
  
  }
  
  @media (min-width: 769px) and (max-width: 920px) {
 
  }
  
  @media (min-width: 921px) and (max-width: 1279px) {
 
  }
  
  @media (min-width: 1280px) {
  
  }
  
  