.body {
  margin: 0;
  padding: 0;
  background-image: url('https://img.freepik.com/free-photo/elegant-blue-smooth-wave-lines-background_1017-46762.jpg?t=st=1715553748~exp=1715557348~hmac=ea473702267f3e08a8321b4e28aeb6cb992e8bf8aa244ad30dfd492714b0d834&w=1380');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
}
.container-login{
  display: flex;
  position: fixed;
  align-items: center;
  top: 5rem;
}
a{
  display: flex;
  align-items: center;
  margin: 0rem 0rem 34rem 8rem;
  position: relative;
  bottom: 3rem;
}
.login{
  width: 56rem;
  height: 40rem;
}

.container img {
position: relative;
right: 1rem;
  height: auto;
 
}





@media only screen and (min-width: 352px) and (max-width: 480px) {
  .logo {
    position: relative;
    right: 47rem;
    bottom: 20.8rem;
    width: 4rem;
    content: url('../../../../../assets/images/favicon.png'); 
  }
  app-link {
    display: none;
  }

  .logout-icon {
    position: fixed;
    left: 11rem;
    top: 2rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .logo{
    position: relative;
    right: 44rem;
    bottom: 19rem;
    width: 7rem;
    content: url('../../../../../assets/images/favicon.png'); 
  }
  .logout-icon{
    position: fixed;
    left: 17rem;
    bottom: 10rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 920px) {
  .logo{
    position: relative;
    right: 38rem;
    bottom: 18rem;
    width: 12rem;
  }
  .logout-icon{
    position: fixed;
    left: 33rem;
    bottom: 17rem;
  }
}

@media only screen and (min-width: 921px) and (max-width: 1279px) {
  .logo{
    position: relative;
    right: 37rem;
    bottom: 13rem;
  }
  .logout-icon{
    position: fixed;
    left: 41rem;
    bottom: 38rem;
  }
}

@media only screen and (min-width: 1280px) {

}
