@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

button {
    font-family: inherit;
    font-size: 1.75rem;
    background: linear-gradient(to bottom, #1F64FF 0%, #1F64FF 100%);
    color: white;
    padding: 0.063rem 0.125rem 0.25rem 0.188rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.938rem;
    box-shadow: 0 0.313rem 0.625rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    height: 2.25rem;
}


button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 0.938rem rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.2);
}

button span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

button svg {
  width: 0.938rem;
  height: 1.125rem;
  fill: white;
  transition: all 0.3s;
}

button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  margin: 0.313rem 0.188rem 0.063rem 0.063rem;
  transition: all 0.3s;
}


