.navigation-stepper {
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
  }
  
  .step {
    width: 3.125rem;
    padding: 0.625rem;
    text-align: center;
    border: 0.063rem solid #ccc;
    border-radius: 11.25rem;
  }
  
  .step.active {
    background-color: #007bff;
    color: white;
  }
  