.data-display-chip {
    font-family: 'Poppins', sans-serif;
    width: 6.875rem;
    height: 2.188rem;
    display: flex;
    justify-content: space-evenly;
    margin-right: 24.5rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: 0.063rem solid #307BC4;
    border-radius: 0.625rem;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .data-display-chip.selected {
    background-color: #307BC4;
    color: white;
  }
  
  .container-chip {
    display: flex;
    justify-content: space-evenly;
    margin-right: 24.5rem;
  }
  