.container-img{
    width: 100.3%;
    position: relative;
    margin: 0%;
    background: #DBE9FE;
    text-align: center;
    border-top-left-radius: 0.938rem;
    border-top-right-radius: 0.938rem;
}


.title {
    width: 70%;
    position: absolute;
    bottom: 0;
    left: 15%; 
    right: 15%; 
    color: #fff;
    font-size: 1rem;
    background: #203B8F;
    text-align: center;
    padding: 0.5rem;
    border-top-left-radius: 0.938rem; 
    border-top-right-radius: 0.938rem; 
}
app-image{
    position: relative;
}

@media only screen and (min-width: 352px) and (max-width: 480px) {
 .title{
    font-size: 0.5rem;
    width: 48%;
    left: 24%;
 }
  }
  