<div class="principal-title">
            <app-title-principal  [titleText]="titleText" [titleClass]="titleClass"></app-title-principal>
          </div>
<div class="container-cards">
        <app-service-card titulo="Agendar Cita" content="Programa tu cita médica podras subir examenes y otros documentos." img="../../../../../assets/images/cita.png" [link]="'/agendar-cita'"></app-service-card>
        <app-image imageUrl="../../../../../assets/images/medicina.png" ></app-image>
        <app-service-card titulo="Visualizacion De Cita" content="Visualiza las citas que tienes programadas ,canceladas o reagenda." img="../../../../../assets/images/doctor.png" [link]="'/visualizar-cita'"></app-service-card>
</div>


  
  