<body>
    <header>
        <app-header></app-header>
    </header>
   
    <div class="section3">
        <div class="section-short">
            <app-title-secundari class="title-secundari" titleText="servicios"></app-title-secundari>
            <hr>
        </div>
        <div class="container-cards">
            <app-service-card titulo="Agendar Cita" content="Programa tu cita médica podras subir examenes y otros documentos." img="../../../../../assets/images/cita.png"></app-service-card>
           <app-image imageUrl="../../../../../assets/images/medicina.png" width="800px" height="100px"></app-image>
            <app-service-card titulo="Visualizacion De Cita" content="Visualiza las citas que tienes programadas ,canceladas o reagenda." img="../../../../../assets/images/doctor.png"></app-service-card>
         
        </div>
    </div>
    <app-footer> </app-footer>
  </body>
  
  