.link {
    margin-top: 1rem;
    font-size: 0.75rem;
    color: #1F3FAE;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .link:hover {
    color: #16255d;
  }
  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  