<div *ngIf="!isLoginPage">
  <div *ngIf="authService.isLoggedIn(); else notLoggedIn">
    <div *ngIf="isPatient">
      <app-header></app-header>
      <main>
        <router-outlet></router-outlet>
        <app-chatbot></app-chatbot>
            <app-footer-doctor-admin *ngIf="isHomePage"></app-footer-doctor-admin>
      </main>
  
    </div>
    <div *ngIf="authService.isDoctor() || authService.isAdmin()">
      <app-lateral-menu></app-lateral-menu>
      <main>
        <router-outlet></router-outlet>
        <app-chatbot></app-chatbot>
      </main>
    </div>
  </div>
  <ng-template #notLoggedIn>
    <app-header></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </ng-template>
</div>
<div *ngIf="isLoginPage">
  <router-outlet></router-outlet>
</div>
