<div class="container">
    <div class="price">
      <app-title-terciario [titleText]="'Valor De La Cita: ' + doctor.valorCita"></app-title-terciario>
      <app-text [content]="'Elija el medio de Pago por el cual desea pagar la cita'"></app-text>
      <div class="buttons">
        <app-button [value]="'Pagar En Efectivo'"></app-button>
        <app-checkout 
          [productName]="'Cita De ' + doctor.especialidad"
          [productDescription]="'Cita con el doctor(a) ' + doctor.nombre + ' de la especialidad ' + doctor.especialidad"
          [invoiceNumber]="doctor.Id"
          [currency]="'cop'"
          [amount]="doctor.valorCita + ''"
          [taxBase]="'4000'"
          [tax]="'500'"
          [taxIco]="'500'"
          [userName]="patient.Nombre"
          [userAddress]="patient.Direccion"
          [userDocType]="patient.Tipo_Doc"
          [userDocNumber]="patient.Documento"
          [userEmail]="patient.Email"
          [userPhone]="patient.Telefono"
          [codigoCita]="codigoCita" 
          (transactionCompleted)="handleTransactionCompleted($event)">
        </app-checkout>        
      </div>
    </div>

    <div class="container-doctor">
      <app-image-card-recommended-doctors [img]="doctor.imgUrl"></app-image-card-recommended-doctors>
      <app-label [content]="doctor.nombre + ' ' + doctor.apellido"></app-label>
      <app-text [content]="doctor.especialidad"></app-text>
    </div>
  </div>
  