.link {
  margin-top: 1rem;
  font-size: 0.75rem;
  color: #1F3FAE;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
}

.link:hover {
  color: #16255d;
}
.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 0 0;
}


@media only screen and (min-width: 352px) and (max-width: 480px) {
  .link {
  font-size: 0.60rem;
  }
}



@media only screen and (min-width: 481px) and (max-width: 768px) {
 
}

@media only screen and (min-width: 769px) and (max-width: 920px) {

}


@media only screen and (min-width: 921px) and (max-width: 1279px) {


}