.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #203B8F;
  }
  p{
    position: relative;
    left: 2rem;
    bottom: 2rem;
    font-size: 1.20rem;
  }
  
  
  .empty-state-image {
    width: 16rem;
    height: auto;
    margin-bottom: 1rem;
  }
  @media only screen and (min-width: 352px) and (max-width: 480px) {
    .empty-state-image {
        width: 11rem;
        height: auto;
        position: relative;
        margin-bottom: 2rem;
        left: 12rem;
    }
    p {
      position: relative;
      left: 13rem;
      bottom: 2rem;
      width: 9rem;
      font-size: 0.6rem;
  }
     }
    