/* Cambiar el color de fondo de los días en la vista de mes */
.fc-daygrid-day {
  background-color: #ffffff; /* Azul claro */
}

.fc .fc-button-primary {
  background-color: #043b97;
  border-color: #003689;
  color: var(--fc-button-text-color);
}
.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  color: #043b97;
}

/* Estilo personalizado para los eventos */
.fc-event {
  background-color: #ff6347; /* Tomate */
  color: white;
  border: 1px solid #ff4500; /* Naranja rojizo oscuro */
}

/* Estilo para el texto de los títulos de los eventos */
.fc-event-title {
  font-weight: bold;
  font-size: 14px;
}

/* Personalizar el estilo del encabezado */
.fc-toolbar-title {
  font-size: 24px;
  color: #333;
}

/* Cambiar el estilo de los botones de navegación (mes, semana, día) */
.fc-button {
  background-color: #4CAF50; /* Verde */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.fc-button:hover {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

/* Estilo para la selección de fechas */
.fc-highlight {
  background-color: rgba(0, 123, 255, 0.3);
}
.fc .fc-toolbar-title {
  font-size: 1.4rem;
  margin: 0px;
  color: #1F3FAE;
}
.fc .fc-button-primary:disabled {
  background-color: #01419c;
  border-color: #013e7a;
}
/* Ocultar fines de semana (opcional) */
.fc-day-sat, .fc-day-sun {
  display: none;
}
