.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    height: 3%;
    padding: 3rem 4rem;
}
.content-session{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .color-session{
    color: #203B8F;
    font-size: 1rem;
  }
  .extra-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.8rem 7rem 0rem 0rem;
    padding: 0rem 0rem 0.5rem 0rem;
  }
  
  .menu-icon {
    width: 0.50rem;
    height: 1.5rem;
    transition: fill 0.3s;
  }
  
  .menu-icon.expanded-icon {
    fill: #203B8F; 
  }
  .sidebar-menu-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
.button{
    width: 32%;
}
.content-set{
    width: 27%;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 1rem 1rem 1rem ;
}
.header img{
    width: 200px;
    height: 160px;
    margin: 0rem 7rem;
}

