.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    height: 3%;
    padding: 3rem 4rem;
}

.button{
    width: 30em;
}
.header img{
    width: 16em;
    height: 10em;
}
