/* Estilos generales */
.title{
  display: flex;
  justify-content: space-between;
}

.title{
  width: calc(100% - 13.625em);
  margin-left: 13em;
}

.logout-icon{
  display: flex;
  align-items: center;
  position: relative;
}

.stepper-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.admin {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 11.625em);
  position: relative;
  margin-left: 12em;
}

.stepper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: .8em;
  border-radius: .5em;
}

/* Estilos de cada ítem del Stepper */
.stepper-item {
  display: flex;
  align-items: center;
  text-align: left;
  cursor: pointer;
  position: relative;
  margin-bottom: 3.5em;
}

.step-number {
  width: 2.9em;
  height: 2.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #cccccc;
  margin-right: .3em;
  transition: all 0.3s ease;
  z-index: 1;
}

.step-number.active,
.step-number.completed {
  background-image: linear-gradient(40deg, #2187c7, #19348f, #16255d);
}

.step-label {
  font-size: 14px;
  color: #999;
  margin-left: 15px;
  transition: color 0.3s ease;
}

.step-label.active,
.step-label.completed {
  color: #19348f;
}

.step-line {
  position: absolute;
  width: .1em;
  height: calc(100% + 3.5em);
  background-color: #cccccc;
  top: 50%;
  left: 1.3em;
  transform: translateX(-50%);
  z-index: 0;
  transition: background-color 0.3s ease;
}

.stepper-item.active .step-line,
.stepper-item.completed .step-line {
  background-image: linear-gradient(40deg, #2187c7, #19348f, #16255d);
}

.stepper-item:last-child .step-line {
  display: none;
}

.step-content {
  width: 70%;
  flex: 1;
  max-width: calc(100% - 250px);
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding:2%;
  border-radius: 8px;
}
.stepper-actions {
  width: 90%;
  justify-content: end;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.admin-actions{
  padding: 1.5% 4%; 
  display: flex;
  justify-content: end;
  width: calc(100% - 17em);
  margin-left: 12em;
}


/* Media query para pantallas de 780px o menos */
/* Media query para pantallas de 780px o menos */
@media screen and (max-width: 780px) {
  .stepper-container {
    flex-direction: column;
    align-items: center;
  }

  .stepper {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding-top: 2.5em; /* Espacio para la línea */
  }

  .stepper-item {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5em;
    position: relative;
  }

  .step-number {
    margin-bottom: 0.5em; /* Espacio entre el número y el label */
    margin-right: 0;
    position: relative;
    z-index: 2; /* Aseguramos que el número esté por encima de la línea */
  }

  .step-label {
    text-align: center;
    margin-left: 0;
  }

  /* Línea entre los steps: Ahora es horizontal y está en la parte superior */
  .step-line {
    position: absolute;
    width: calc(100% + 2em); /* Ajusta el largo de la línea */
    height: 0.2em;
    background-color: #cccccc;
    top: -1.3em; /* Mueve la línea hacia arriba */
    left: -1em; /* Ajusta la alineación lateral */
    z-index: 1;
  }
  

  /* Línea activa o completada */
  .stepper-item.active .step-line,
  .stepper-item.completed .step-line {
    background-image: linear-gradient(40deg, #2187c7, #19348f, #16255d);
  }

  /* Ajustes para el contenido y las acciones */
  .step-content {
    width: 100%;
    max-width: none;
  }

  .stepper-actions {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
}

