<div class="stepper-container">
    <div class="stepper">
      <div
        *ngFor="let step of steps; let i = index"
        class="stepper-item"
        [class.active]="i === currentStepIndex"
        [class.completed]="i < currentStepIndex"
        (click)="selectStep(i)"
      >
        <div
          class="step-number"
          [class.active]="i === currentStepIndex"
          [class.completed]="i < currentStepIndex"
        >
          <ng-container *ngIf="i < currentStepIndex">
            <i class="fa fa-check"></i>
          </ng-container>
          <ng-container *ngIf="i >= currentStepIndex">
            {{ i + 1 | number: '2.0' }}
          </ng-container>
        </div>
        <div
          class="step-label"
          [class.active]="i === currentStepIndex"
          [class.completed]="i < currentStepIndex"
        >
          {{ step.label }}
        </div>
        <div *ngIf="i < steps.length - 1" class="step-line"></div>
      </div>
    </div>
  
    <div class="step-content">
      <ng-template #dynamicContent></ng-template>
    </div>
  </div>
  
  <div class="stepper-actions">
    <app-button
      (click)="nextStep()"
      [isDisabled]="!canProceed"
      [value]="'Continuar'"
    ></app-button>
    <app-button
      (click)="handleExit()"
      [value]="'Salir'"
    ></app-button>
  </div>
  