.container {
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

.form-container {
    background: #ffffff;
    padding: 2% 2%;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    width: 46%;
  

}
