<main>
    <app-slider></app-slider>
  </main>
  <div class="section3">
    <div class="section-short">
      <app-title-secundari class="title-secundari" titleText="servicios"></app-title-secundari>
      <hr>
    </div>
    <div class="container-cards">
      <app-service-card titulo="Gestion de citas" content="Programa tu cita médica podras subir examenes y otros documentos." img="../../../../../assets/images/cita.png"></app-service-card>
      <app-service-card titulo="Registro de seguimiento" content="Monitoree el progreso de su atención médica a lo largo del tiempo." img="../../../../../assets/images/Rectangle 15 (1).png"></app-service-card>
      <app-service-card titulo="Recordatorios de Medicación Personalizados" content="Recordatorios personalizados." img="../../../../../assets/images/alarma.png"></app-service-card>
    </div>
  </div>

<app-about-us></app-about-us>
<app-how-to-schedule></app-how-to-schedule>
  <section class="section3">
    <div class="section-short">
      <app-title-secundari class="title-secundari" titleText="Medicos Recomendados"></app-title-secundari>
      <hr>
    </div>
    <div class="container-cards">
      <app-recommended-card *ngFor="let doctor of recommendedDoctors" [doctor]="doctor"></app-recommended-card>
    </div>
  </section>
  <section class="section4">
    <div class="section-short">
      <app-title-secundari class="title-secundari" titleText="Comentarios sobre nuestros medicos"></app-title-secundari>
      <hr>
      <app-text-field class="text-comment" content="En SAMI solo hay opiniones de pacientes reales que si han acudido a la consulta."></app-text-field>
    </div>
    <div class="container-cards">
      <app-doctor-comments></app-doctor-comments>
      <app-medical-information></app-medical-information>
    </div>
  </section>
 