<div class="container-form">
    <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
        <div class="data-form">
            <div class="row">
                <div class="row-input">
                    <app-label [content]="'Nombre:'"></app-label>
                    <input formControlName="nombre" placeholder="Nombre" id="nombre" name="nombre">
                </div>
                <div class="row-input">
                    <app-label [content]="'Apellido:'"></app-label>
                    <input formControlName="apellido" placeholder="Apellido" id="apellido" name="apellido">
                </div>
                <div class="row-input">
                    <app-label [content]="'Documento:'"></app-label>
                    <input formControlName="documento" placeholder="Documento" id="documento" name="documento">
                </div>
            </div>
            <div class="row">
                <div class="row-input">
                    <app-label [content]="'Correo Electronico:'"></app-label>
                    <input formControlName="email" placeholder="Correo Electronico" id="email" name="email">
                </div>
                <div class="row-input">
                    <app-label [content]="'Telefono:'"></app-label>
                    <input formControlName="telefono" placeholder="Telefono" id="telefono" name="telefono">
                </div>
                <app-input-file></app-input-file>
            </div>
            <div>
                <app-label content="Motivo:"></app-label>
                <textarea formControlName="motivo"></textarea>
            </div>
            <button type="submit">Enviar</button>
        </div>
    </form>
</div>