<div class="container-form">
  <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <div class="data-form">
      <div class="row">
        <div class="row-input">
          <app-label [content]="'Nombre:'"></app-label>
          <app-input placeholder="Nombre" id="nombre" name="nombre" formControlName="nombre"></app-input>
        </div>
        <div class="row-input">
          <app-label [content]="'Apellido:'"></app-label>
          <app-input placeholder="Apellido" id="apellido" name="apellido" formControlName="apellido"></app-input>
        </div>
        <div class="row-input">
          <app-label [content]="'Documento:'"></app-label>
          <app-input placeholder="Documento" id="documento" name="documento" formControlName="documento"></app-input>
        </div>
      </div>

      <div class="row">
        <div class="row-input">
          <app-label [content]="'Correo Electrónico:'"></app-label>
          <app-input placeholder="Correo Electrónico" id="email" name="email" formControlName="email"></app-input>
        </div>
        <div class="row-input">
          <app-label [content]="'Teléfono:'"></app-label>
          <app-input [placeholder]="'Teléfono'" [id]="'telefono'" name="telefono" formControlName="telefono"></app-input>
        </div>
        <div class="row-input">
          <app-label [content]="'Dirección:'"></app-label>
          <app-input placeholder="Dirección" id="direccion" name="direccion" formControlName="direccion"></app-input>
        </div>
      </div>

      <div class="row">
        <div class="row-input">
          <app-label content="Motivo:"></app-label>
          <app-input-text-area [value]="'inserte motivo'" formControlName="motivo"></app-input-text-area>
        </div>
        <div class="row-input">
          <app-label [content]="'Inserte un Documento:'"></app-label>
          <app-input-file formControlName="documentoArchivo"></app-input-file>
        </div>
      </div>
    </div>
  </form>
</div>
