.container-form {
    width: 90%;
    flex-wrap: wrap;
    margin: 5% auto;
  }
  
  .data-form {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-flow: wrap;
  }

  .row{
    margin: 2% 0;
    display: flex;
    width: 100%;
  }

  .row-input{
    margin-right: 5rem;
  }
