.container-form {
  width: 100%;
}

.data-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em; /* Añadido un espacio entre los elementos */
}

.row-input {
  width: 28%; /* Cada input ocupará aproximadamente el 30% del ancho total */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1%;
}

@media (max-width: 768px) {
  .row-input {
    width: 45%; /* En pantallas pequeñas, los inputs ocuparán el 100% del ancho */
  }
}

@media (max-width: 480px) {
  .row-input {
    width: 30%;
  }
}
