<main>
  <nav>
    <app-title-terciario titleText="Panel Administrador"></app-title-terciario>
    <app-profile-button [imageUrl]="imageUrl" (avatarClick)="openProfileModal()"></app-profile-button>
  </nav>
  
  <div>
    <section class="section1">
      <div class="text-container">
        <app-title-principal [titleText]="titleText" [titleClass]="titleClass"></app-title-principal>
        <p>Te damos la bienvenida, aquí podrás encontrar diferentes apartados para administrar mejor tu sistema</p>
      </div>
      <div class="image-container">
        <app-image class="image-background" src="../../../../../assets/images/Group.png"></app-image>
        <app-image class="image-foreground" src="../../../../../assets/images/Doctors-pana 1.png"></app-image>
      </div>
    </section>
    
    <section class="section2">
      <app-title-terciario class="title" titleText="Especialidades"></app-title-terciario>
      <hr>
      <app-button width="10rem" (click)="openAddSpecialtyModal()" value="Activar especialidades">
</app-button>

      <app-select-specialties-modal 
      *ngIf="isSelectSpecialtiesModalOpen" 
      [specialties]="specialties" 
      (specialtiesSelected)="activateSpecialties($event)" 
      (close)="closeSelectSpecialtiesModal()">
    </app-select-specialties-modal>
    
      <div class="container" *ngIf="specialties.length > 0">
        <div class="container-card" *ngFor="let specialty of specialties">
          <app-content-card-especialidad [Specialty]="specialty"></app-content-card-especialidad>
        </div>
      </div>

      <div *ngIf="specialties.length === 0">
        <app-empty-state imageSrc="../../../../../assets/images/No se encontraron resultados.png" message="No hay especialidades disponibles."></app-empty-state>
      </div>
    </section>

    <section class="section3">
      <app-title-terciario class="title" titleText="Médicos"></app-title-terciario>
      <hr>
      <app-medical-table></app-medical-table>
    </section>
  </div>
  
  <app-modal-perfil-admin *ngIf="isProfileModalOpen" (close)="closeProfileModal()"></app-modal-perfil-admin>
</main>
