<!-- 
<div class="profile-container">
    <h2>Perfil de Paciente</h2>
  
    <form [formGroup]="profileForm">
      <div class="form-group">
        <label>Email:</label>
        <input type="email" formControlName="email" disabled>
      </div>
      <div class="form-group">
        <label>Nombre:</label>
        <input type="text" formControlName="nombre" [disabled]="!isEditing">
      </div>
      <div class="form-group">
        <label>Apellido:</label>
        <input type="text" formControlName="apellido" [disabled]="!isEditing">
      </div>
      <div class="form-group">
        <label>Tipo de Documento:</label>
        <input type="text" formControlName="tipoDocumento" [disabled]="!isEditing">
      </div>
      <div class="form-group">
        <label>Número de Documento:</label>
        <input type="text" formControlName="numeroDocumento" [disabled]="!isEditing">
      </div>
      <div class="form-group">
        <label>Teléfono:</label>
        <input type="text" formControlName="telefono" [disabled]="!isEditing">
      </div>
      <div class="form-group">
        <label>Nueva Contraseña:</label>
        <input type="password" formControlName="nuevaContrasena" [disabled]="!isEditing">
      </div>
      <div class="form-group">
        <label>Confirmar Contraseña:</label>
        <input type="password" formControlName="confirmarContrasena" [disabled]="!isEditing">
      </div>
  
      <div class="form-buttons">
        <button type="button" (click)="enableEditing()" *ngIf="!isEditing">Editar</button>
        <button type="button" (click)="saveChanges()" *ngIf="isEditing">Guardar</button>
        <button type="button" (click)="changePassword()">Cambiar Contraseña</button>
      </div>
    </form>
  </div>
    -->