.container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 15px; 
    border-bottom-right-radius: 15px; 
}

.input-rating{
    display: flex;
    color: #a8a8a894;
    font-size: 14px;
    font-weight: 100;
}

app-text{
    font-size: 14px;
}
