.star {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between; 
}

.star label {
  height: 20px;
  cursor: pointer;
  padding: 0 6px;
}

.star label:after {
  transition: all 0.3s ease;
  content: '☆';
  color: rgb(255, 221, 0);
  font-size: 25px;
}

.star input {
  display: none;
}

.star input:checked + label:after{
  content: '★';
  color: gold;
  text-shadow: 0 0 10px gold;
}
