.star {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.star label {
  height: 1.25rem;
  cursor: pointer;
  padding: 0 0.125rem;
}

.star label:after {
  transition: all 0.3s ease;
  content: '☆';
  color: rgb(255, 221, 0);
  font-size: 1.563rem;
}

.star input {
  display: none;
}

.star input:checked + label:after {
  content: '★';
  color: gold;
  text-shadow: 0 0 0.625rem gold;
}
