@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;

}

li {
  position: relative;
  padding: 0.375rem 0;
  
}

a {
  position: relative;
  display: block;
  padding: 0.7rem 1.25rem;
  font-family: 'Poppins', sans-serif;
  color: #5A5D5F;
  text-decoration: none;
  transition: color 0.5s, background-color 0.5s;
}

.menu::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 0.188rem;
  background: #203B8F;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.menu:hover {
  color: #203B8F;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.submenu a:hover {
  color: #203B8F;
}
.submenu {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 100%;
  left: 0;
  background: #ffffff;
  padding: 0;
  list-style-type: none;
  box-shadow: 0   0.25rem 0.5rem rgba(0, 0, 1, 0.1);
  z-index: 1000;

}

.menu-item:hover .submenu {
  display: block;
}

.submenu li {
  padding: 0;
 
}

.submenu a {
  padding: 0.625rem 1.25rem;
  font-size: 0.75rem;
  color: #5A5D5F;
  background: #ffffff;

}

