.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 2% 5%;
    border-radius: 0.625rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 54%;
    height: 76vh;
    margin: 1% 0% 0 0;
    position: relative;
    left: 10rem;
    top: 6.9rem;
  }
  