.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 2% 2%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 2% 5%;
  }
  