.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 2% 5%;
    border-radius: 0.625rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 54%;
    height: 78vh;
    margin: 1% 0% 0 0;
    position: relative;
    left: 10rem;
    top: 6.9rem;
  }
  
  @media only screen and (min-width: 352px) and (max-width: 480px) {
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
    
    }
    
    .form-container {
      padding: 2% 0%;
      width: 120%;
      height: 71vh;
      left: 1rem;
      top: 7.9rem;
    }
  }
  
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
    
    }
    
    .form-container {
      padding: 2% 0%;
      width: 120%;
      height: 81vh;
      left: 1rem;
      top: 5.9rem;
    }
  }
  
  @media only screen and (min-width: 769px) and (max-width: 920px) {
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 81%;
    
    }
    
    .form-container {
      padding: 2% 0%;
      width: 120%;
      height: 55vh;
      left: 5rem;
      top: 12rem;
    }
  }
  
  @media only screen and (min-width: 921px) and (max-width: 1279px) {
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70%;
    
    }
    
    .form-container {
      padding: 2% 0%;
      width: 106%;
      height: 53vh;
      left: 10rem;
      top: 11rem;
    }
  }
  
  @media only screen and (min-width: 1280px) {
  
  }
  