.styled-date-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    padding: 0.625rem 0.625rem 0.625rem 2rem; 
    margin: 1% 0;
    width: 11rem; 
    border: 0;
    border-bottom: 0.063rem solid #9b9b9b;
    font-size: 0.75rem;
    color: grey;
    background: transparent;
    cursor: pointer;
    outline: none; 
}

.styled-date-input:focus {
    outline: none;
    box-shadow: none; 
}

.styled-date-input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 50%;
    left: 0.04rem;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    background: url('../../../../../assets/images/Vector.png') no-repeat center;
    background-size: 1rem 1rem;
    color: transparent; 
    cursor: pointer;
}


