.styled-date-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    padding: 0.625rem 0.625rem 0.625rem 2rem; 
    margin: 1% 0;
    width: 11rem; 
    border: 0;
    border-bottom: 0.063rem solid #9b9b9b;
    font-size: 0.75rem;
    color: grey;
    background: transparent;
    cursor: pointer;
    outline: none; 
}

.styled-date-input:focus {
    outline: none;
    box-shadow: none; 
}

.styled-date-input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 50%;
    left: 0.04rem;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    background: url('../../../../../assets/images/Vector.png') no-repeat center;
    background-size: 1rem 1rem;
    color: transparent; 
    cursor: pointer;
}


@media only screen and (min-width: 352px) and (max-width: 480px) {
    
    
    .styled-date-input:focus {
        outline: none;
        box-shadow: none; 
    }
    .styled-date-input {
        padding: 0rem 0rem 0rem 0rem;
        margin: 0rem 0rem 2rem 2rem;
        width: 6.2rem;
        font-size: 0.6rem;
    }
    .styled-date-input::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
  
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .styled-date-input {
        padding: 0rem 0rem 0rem 0rem;
        margin: 1rem 0rem 1rem 0rem;
        width: 8.2rem;
        font-size: 0.75rem;
    }
    
    .styled-date-input:focus {
        outline: none;
        box-shadow: none; 
    }
    
    .styled-date-input::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
  
  @media only screen and (min-width: 769px) and (max-width: 920px) {
    .styled-date-input {
        padding: 0rem 0rem 0rem 0rem;
        margin: 1rem 1rem 1rem 0rem;
        width: 14rem;
        font-size: 0.75rem;
    }
    
    .styled-date-input:focus {
        outline: none;
        box-shadow: none; 
    }
    .styled-date-input::-webkit-calendar-picker-indicator {
        display: none;
      }
    
   
  }
  
  @media only screen and (min-width: 921px) and (max-width: 1279px) {
    .styled-date-input {
        padding: 0rem 0rem 0rem 0rem;
        margin: 1rem 0rem 1rem 0rem;
        width: 8.2rem;
        font-size: 0.75rem;
    }
    
    .styled-date-input:focus {
        outline: none;
        box-shadow: none; 
    }
  }
  
  @media only screen and (min-width: 1280px) {
  
  }
  
