<div class="modal" *ngIf="showRescheduleModal">
  <div class="modal-overlay" (click)="closeRescheduleModal()"></div>
  <div class="modal-content">
    <div class="modal-header">
      <button class="close-button" (click)="closeRescheduleModal()">
        <span class="X"></span>
        <span class="Y"></span>
        <div class="close">Close</div>
      </button>
    </div>
    <div class="modal-body">
      <app-title-terciario titleText="Reagendar Cita"></app-title-terciario>
      <hr>
      <div class="container">
        <app-input-date [IdMedico]="IdDoctor"></app-input-date>
        <div class="button-space">
          <app-button (buttonClick)="guardarNuevaFecha()" value="Guardar"></app-button>
          <app-button-bottomless class="btn btn-secondary" (click)="closeRescheduleModal()" value="Cancelar"></app-button-bottomless>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
