.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  
  .modal-content {
    background-color: white;
    padding: 1.25rem;
    border-radius: 0.5rem;
    position: relative;
    z-index: 1001;
    max-width: 23.25rem;
    width: 100%;
  }
 
  .modal-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #1E4CD7;
  }
  
  .container {
    margin: 2rem 0rem 2rem 0rem;
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  
  }
  
  .label-string {
    margin: 1rem; 
  }
  
  .field {
    margin: 0.625rem 0.9375rem 1.625rem 1.25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .button-space {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  app-title-terciario {
    position: relative;
    left: 6rem; 
  }
  
  app-button {
    position: relative;
    top: 1rem;
    left: 2rem; 
  }
  hr{
    width: 19rem;
    position: relative;
    left: 1rem;
    border: 0;
    border-bottom: 0.063rem solid #aab2c869;
    margin: 1rem 1rem 0.5rem 1rem ;
  
  }


  .input-fecha {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    padding: 0.625rem 0.625rem 0.625rem 2rem; 
    margin: 1% 0;
    width: 11rem; 
    border: 0;
    border-bottom: 0.063rem solid #aab2c869;
    font-size: 0.75rem;
    color: grey;
    background: transparent;
    cursor: pointer;
    outline: none; 
}

.input-fecha:focus {
    outline: none;
    box-shadow: none; 
}

.input-fecha::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 50%;
    left: 0.04rem;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    background: url('../../../../../assets/icons/calendar.svg') no-repeat center;
    background-size: 1rem 1rem;
    color: transparent; 
    cursor: pointer;
}

.input-fecha::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0.625rem;
    transform: translateY(-50%);
    width: 0.70rem;
    height:1rem;
    background: url('../../../../../assets/icons/flecha-hacia-abajo-para-navegar\ 1.svg') no-repeat center;
    background-size: contain;
}
.input-hora::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0.625rem;
  transform: translateY(-50%);
  width: 0.70rem;
  height:1rem;
  background: url('../../../../../assets/icons/flecha-hacia-abajo-para-navegar\ 1.svg') no-repeat center;
  background-size: contain;
}

.input-fecha::-webkit-inner-spin-button,
.input-fecha::-webkit-clear-button {
    display: none;
}

.input-fecha::-webkit-input-placeholder {
    color: #999;
}

.input-fecha::-moz-placeholder {
    color: #999;
}

.input-fecha:-ms-input-placeholder {
    color: #999;
}

.input-fecha:-moz-placeholder {
    color: #999;
}

  
.input-hora{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    padding: 0.625rem 0.625rem 0.625rem 2rem; 
    margin: 1% 0;
    width: 11rem; 
    border: 0;
    border-bottom: 0.063rem solid #aab2c869;
    font-size: 0.75rem;
    color: grey;
    background: transparent;
    cursor: pointer;
    outline: none; 
}

.input-hora:focus {
    outline: none;
    box-shadow: none; 
}

.input-hora::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 50%;
    left: 0.010rem;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    background: url('../../../../../assets/icons/clock.svg') no-repeat center;
    background-size: 1rem 1rem;
    color: transparent; 
    cursor: pointer;
}

.input-fecha::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0.625rem;
    transform: translateY(-50%);
    width: 0.70rem;
    height:1rem;
    background: url('../../../../../assets/icons/flecha-hacia-abajo-para-navegar\ 1.svg') no-repeat center;
    background-size: contain;
}

.input-fecha::-webkit-inner-spin-button,
.input-fecha::-webkit-clear-button {
    display: none;
}

.input-fecha::-webkit-input-placeholder {
    color: #999;
}

.input-fecha::-moz-placeholder {
    color: #999;
}

.input-fecha:-ms-input-placeholder {
    color: #999;
}

.input-fecha:-moz-placeholder {
    color: #999;
}



.error-message {

    color: red;
    font-size: 12px;
    margin-top: 5px; 
  }
  



.btn-secondary {
margin: 1rem 1rem 1rem 1rem;
}
