<section class="section--1">
  <app-image imageUrl="../../../../../assets/images/Doctor-amico 1.png"></app-image>
    <div class="info-doctor">
      <app-title-secundari class="h3" titleText="Sobre nosotros"></app-title-secundari>
      <app-text-field class="p" content="SAMI es un equipo de experimentados profesionales médicos dedicados a brindar servicios de salud de la más alta calidad."></app-text-field>
      <app-text-field class="p" content="Creemos en un enfoque holístico de la atención sanitaria que se centra en tratar a la persona en su totalidad, no solo la enfermedad o síntomas."></app-text-field>
    </div>
  </section>