
.section--1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 4rem;
  }
  app-image{
    width: 26.25rem;
    margin-right: 6.25rem; 
  }
  .h3 {
 
    margin: 1.5rem;
  }
  .info-doctor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 23.25em;
    position: relative;
    bottom: 4.5rem;
  }
  .p{
    color: #5A5D5F;
  }