.file-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .file-input-container input[type="file"] {
    display: block;
    padding: 0.5rem;
    border: 0.063rem solid #ccc;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  .infodatos{
    margin: 1rem 0rem 0rem 0rem;
    display: flex;
  }
  
  .cargaDoc:has-file {
    font-size: 0.25rem;
    color: grey;
  }
  .cargaDoc {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    color: grey;
  }
  .custom-file-button {
    display: inline-block;
    background-color: #F0F0FF;
    color: #5A5D5F;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 0.625rem;
    border: 0.063rem solid #D9D9D9 ;
    width: 11rem;
    height: 2rem;
    align-items: center;
  }

  .file-input {
    display: none;
  }

  .file-name {
    margin-left: 0.625rem;
    font-style: italic;
    color: #555;

    font-size: 0.60rem;
    
  }
  .ingreseDocumentos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
