<div class="HistorialCita">
    <nav>
      <app-title-terciario titleText="Panel Medico"></app-title-terciario>
      <app-profile-button [imageUrl]="imageUrl" (avatarClick)="openProfileModal()"></app-profile-button>
    </nav>
  
    <div class="container">
      <div>
        <app-title-principal class="titulo" [titleText]="titleText" [titleClass]="titleClass"></app-title-principal>
      </div>
  <app-button width="10rem" value="Crear Historia">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 1a1 1 0 0 1 1 1v6h6a1 1 0 0 1 0 2H9v6a1 1 0 0 1-2 0V10H1a1 1 0 0 1 0-2h6V2a1 1 0 0 1 1-1z"/>
      </svg>
  </app-button>
      <div class="filtro-documento">
        <input type="text" placeholder="Filtrar por documento" class="styled-date-input"(input)="filtroDocumento($event)">
      </div>
  
      <app-empty-state 
        imageSrc="../../../../../assets/images/No se encontraron resultados.png" 
        message="No se encontraron resultados" 
        *ngIf="DocumentoFiltro.length === 0">
      </app-empty-state>
  
      <table *ngIf="DocumentoFiltro.length > 0">
        <thead>
          <tr>
            <th>Paciente</th>
            <th>Documento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let paciente of DocumentoFiltro">
            <td>
              <img [src]="paciente.Foto_Url" alt="{{paciente.Nombre}}" class="imagen-medico" *ngIf="paciente.Foto_Url">
              {{paciente.Nombre}}   {{paciente.Apellido}}
            </td>
            <td>
              {{paciente.Documento}}
            </td>
            <td>
              <img class="img-icon" src="../../../../../assets/images/Edit.png" alt="Edit" >
              <img class="img-icon" src="../../../../../assets/images/Show.png" alt="Show" >
              <img class="img-icon" src="../../../../../assets/images/Delete.png" alt="Delete">
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
  
  