<div class="HistorialCita">
  <nav>
    <app-title-terciario titleText="Panel Médico"></app-title-terciario>
    <app-profile-button [imageUrl]="imageUrl" (avatarClick)="openProfileModal()"></app-profile-button>
  </nav>

  <div class="container">
    <div>
      <app-title-principal class="titulo" [titleText]="titleText" [titleClass]="titleClass"></app-title-principal>
    </div>

    <div class="filtro-documento">
      <input type="text" placeholder="Filtrar por documento" class="styled-date-input" (input)="filtroDocumento($event)">
    </div>

    <app-empty-state 
      imageSrc="../../../../../assets/images/No se encontraron resultados.png" 
      message="No se encontraron resultados" 
      *ngIf="DocumentoFiltro.length === 0">
    </app-empty-state>

    <table *ngIf="DocumentoFiltro.length > 0">
      <thead>
        <tr>
          <th>Paciente</th>
          <th>Documento</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of DocumentoFiltro">
          <td>
            <img [src]="paciente.Foto_Url" alt="{{paciente.Nombre}}" class="imagen-medico" *ngIf="paciente.Foto_Url">
            {{paciente.Nombre}} {{paciente.Apellido}}
          </td>
          <td>{{paciente.Documento}}</td>
          <td>
            <app-button value="Ver" (click)="openHistoriaClinicaModal(paciente)"></app-button>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal visible -->
  <p>Modal visible: {{ showCreateHistoryModal }}</p>
  
  <!-- Modal Create History -->
<!-- Modal Create History -->
<!-- template-medical-history.component.html -->
<app-modal-create-history 
  *ngIf="showCreateHistoryModal" 
  [paciente]="patientSelected"
  (close)="closeHistoriaClinicaModal()">
</app-modal-create-history>

