@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:host {
  display: block;
  padding: 1.25rem;
  font-family: 'Poppins', sans-serif;
 
  
}
.footer-list{
    display: flex;
    justify-content: space-around;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
    font-size: 0.75rem;
    margin: 8.5rem 10.438rem 2.5rem 0;
  }
  
  .list li {
    padding: 0.375rem 0;
  }
  
  .list a {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .list a:hover {
    color: #61A3F9;
  }

  


@media only screen and (min-width: 352px) and (max-width: 480px) {
  .footer-list{
    width: 14rem;
    position: relative;
    right: 20rem;
}
}


