<button class="avatar-button" [style.width.px]="size" [style.height.px]="size" (click)="onClick()">
  <ng-container *ngIf="imageUrl; else defaultIcon">
    <img [src]="imageUrl" [alt]="altText" [style.width.px]="size" [style.height.px]="size">
  </ng-container>
  <ng-template #defaultIcon>
    <div class="default-icon" [style.width.px]="size" [style.height.px]="size">
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="12" cy="6" r="4" stroke="#ffffff" stroke-width="1.5"></circle>
        <ellipse cx="12" cy="17" rx="7" ry="4" stroke="#ffffff" stroke-width="1.5"></ellipse>
      </svg>
    </div>
  </ng-template>
</button>
