<div class="calendar">
  <div class="calendar-header">
    <button (click)="changeMonth(-1)" [disabled]="isCurrentMonth()">&lt;</button>
    <div class="month-year">{{ currentDate | date: 'MMMM yyyy' }}</div>
    <button (click)="changeMonth(1)">&gt;</button>
  </div>
  <div class="calendar-grid">
    <div class="day-header" *ngFor="let day of ['D', 'L', 'M', 'M', 'J', 'V', 'S']">{{ day }}</div>
    <ng-container *ngFor="let week of getWeeksInMonth()">
      <ng-container *ngFor="let date of week">
        <div
          *ngIf="date.getMonth() === currentDate.getMonth()"
          [class.day]="date.getMonth() === currentDate.getMonth()"
          [class.today]="isToday(date)"
          [class.selected]="selectedDate?.toDateString() === date.toDateString()"
          [class.disabled]="isPastDate(date)"
          (click)="selectDate(date)"
        >
          {{ date.getDate() }}
        </div>
        <div *ngIf="date.getMonth() !== currentDate.getMonth()" class="day"></div>
      </ng-container>
    </ng-container>
  </div>
  <div *ngIf="selectedDate" class="time-input">
    <label for="time">Seleccione la hora:</label>
    <select id="time" [(ngModel)]="selectedTime">
      <option *ngFor="let time of availableTimes" [value]="time">
        {{ time }}
      </option>
    </select>
  </div>
</div>
