<div class="calendario">
  <div class="calendar-container">
    <mat-calendar [(selected)]="selectedDate" [dateClass]="dateClass" [dateFilter]="dateFilter" (selectedChange)="onDateChange($event)"></mat-calendar>
  </div>

  <div class="date-container">
    <ng-container *ngIf="selectedDate && availableHours.length; else emptyState">
      <app-text [content]="'Horas disponibles'"></app-text>
      
      <div class="hour-carousel-container">
        <button class="arrow-button" (click)="scrollUp()">&#9650;</button> <!-- Flecha arriba -->
        
        <div class="hour-carousel">
          <div class="hour-item" *ngFor="let hour of availableHours" [ngClass]="{'selected': selectedHour === hour}">
            <button mat-raised-button (click)="selectHour(hour)">{{ hour }}</button>
          </div>
        </div>
        
        <button class="arrow-button" (click)="scrollDown()">&#9660;</button> <!-- Flecha abajo -->
      </div>
    </ng-container>
    
    <ng-template #emptyState>
      <app-text [content]="'No hay horas disponibles para esta fecha'"></app-text>
    </ng-template>
  </div>
</div>
