:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.calendar {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 8px; /* Reducir el padding */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 500px; /* Ajustar el tamaño máximo del calendario */
  position: relative;
  right: 3rem;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

.calendar-header button {
  background: none;
  border: none;
  font-size: 14px; /* Reducir el tamaño de la fuente */
  cursor: pointer;
}

.calendar-header .month-year {
  font-size: 14px; /* Reducir el tamaño de la fuente */
  font-weight: bold;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px; /* Reducir el espacio entre celdas */
  width: 100%;
}

.calendar-grid div {
  text-align: center;
  padding: 3px; /* Reducir el relleno */
  border-radius: 5px;
  cursor: pointer;
}

.calendar-grid .day-header {
  font-weight: bold;
  color: #555;
  font-size: 12px; /* Reducir el tamaño de la fuente */
}

.calendar-grid .day {
  background-color: #f0f0f0;
  color: #333;
  font-size: 12px; /* Reducir el tamaño de la fuente */
}

.calendar-grid .day:hover {
  background-color: #ddd;
}

.calendar-grid .selected {
  background-color: #007bff;
  color: white;
}

.calendar-grid .today {
  border: 2px solid #007bff;
  color: #007bff;
}

.time-selector {
  margin-top: 5px; /* Reducir el margen superior */
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-selector input[type="text"] {
  width: 30px; /* Reducir el ancho del input */
  padding: 3px;
  margin-right: 3px; /* Reducir el margen derecho */
  text-align: center;
}

.time-selector button {
  background: none;
  border: 1px solid #007bff;
  color: #007bff;
  padding: 3px 5px; /* Reducir el padding */
  cursor: pointer;
  border-radius: 5px;
  margin-right: 3px; /* Reducir el margen derecho */
}

.time-selector button.selected {
  background-color: #007bff;
  color: white;
}

.time-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px; /* Reducir el espacio entre elementos */
  margin-top: 5px; /* Reducir el margen superior */
}

.time-input input {
  width: 30px; /* Reducir el ancho del input */
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 3px; /* Reducir el padding */
}

.time-period button {
  background: none;
  border: 1px solid #007bff;
  color: #007bff;
  padding: 3px 5px; /* Reducir el padding */
  cursor: pointer;
  border-radius: 5px;
  margin: 0 3px; /* Reducir el margen */
}

.time-period button.selected {
  background-color: #007bff;
  color: white;
}
