
.calendar {
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    
  }
  
  .calendar_left, .calendar_right {
    width: 48%;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .header i {
    cursor: pointer;
    font-size: 24px;
  }
  
  .header h1 {
    font-size: 16px;
    margin: 0;
    color: #203B8F;

  }
  
  .days, .dates {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .day_item, .date_item {
    width: calc(100% / 7 - 10px);
    text-align: center;
    padding: 10px;
    border-radius: 150px;
  }
  
  .day_item {
    font-weight: 300;
    color: #203B8F;
  }
  
  .date_item {
    cursor: pointer;
    transition: background-color 0.3s;
    color: #535353;
  }
  
  .date_item.present {
    background-color: #3461D6;
    color: #fff;
  }
  
  .date_item:hover {
    background-color: #e0e0e0;
  }
 
  .calendar_right ul {
    list-style-type: none;
    padding: 0;
  }
  
  .calendar_right li {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .calendar_right li.bounce-in {
    animation: bounce-in 0.5s ease-out;
  }
  
  .calendar_right span.type {
    font-weight: bold;
  }
  
  .calendar_right form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  
  .calendar_right input, .calendar_right select {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .calendar_right button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3461D6;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .calendar_right button:hover {
    background-color: #3461D6;
  }
  

  @keyframes bounce-in {
    from {
      transform: scale(0.5);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  